html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: grid;
    font-family: sans-serif;
    grid: 64px / max-content auto;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 8px;
}

code {
    background-color: #f8f8f8;
}

#hierarchy {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 16px 16px 16px 0;
}

#hierarchy div {
    padding-left: 16px;
}

#hierarchy label {
    cursor: pointer;
}

#hierarchy .selected > label {
    background-color: #44ee44;
}

#topbar {
    background-color: #eeeeee;
}

#content {
    overflow: auto;
}

.invisible {
    display: none;
}