html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: grid;
    grid: 64px / max-content auto;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#hierarchy {
    grid-column: 1;
    grid-row: 1 / 3;
}

#hierarchy div {
    padding-left: 16px;
}

#hierarchy label {
    cursor: pointer;
}

#hierarchy .selected > label {
    background-color: #44ee44;
}

#topbar {
    background-color: #eeeeee;
}
