html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: grid;
    font-family: sans-serif;
    grid: 64px / max-content auto;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

pre {
    -webkit-user-modify: read-write;
    background-color: rgb(255, 243, 220);
    border: 1px solid rgb(173, 124, 92);
    padding: 8px;
    word-break: break-word;
    white-space: pre-wrap;
}

code {
    -webkit-user-modify: read-write;
    background-color: rgb(255, 243, 220);
    border: 1px solid rgb(173, 124, 92);
    word-break: break-word;
    white-space: pre-wrap;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #f0f0f0;
}

td, th {
    border: 1px solid #cccccc;
    padding: 4px;
}

#hierarchy {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 16px 16px 16px 0;
}

#hierarchy div {
    padding-left: 16px;
}

#hierarchy label {
    cursor: pointer;
}

#hierarchy .selected > label {
    background-color: #44ee44;
}

#topbar {
    background-color: #eeeeee;
}

#content {
    overflow: auto;
}

.invisible {
    display: none;
}