name: arrange-wiki
services:

  sso_server:
    image: hilderonny2024/arrange-sso-server:0.1.2
    ports:
      - "3000:3000"
    volumes:
      # Datenverzeichnis lokal mounten, um vom Host darauf zugreifen zu können
      - ./arrange_sso_server_data:/app/data
    environment:
      # Use the same for SSO and file server
      - TOKEN_SECRET=${TOKEN_SECRET}
    restart: always

  file_server:
    image: hilderonny2024/arrange-file-server:0.1.1
    ports:
      - "3001:3001"
    volumes:
      # Datenverzeichnis lokal mounten, um vom Host darauf zugreifen zu können
      - ./arrange_file_server_data:/app/data
    environment:
      # Use the same for SSO and file server
      - TOKEN_SECRET=${TOKEN_SECRET}
    restart: always

  web_server:
    image: hilderonny2024/arrange-web-server:0.1.0
    ports:
      - "3002:3002"
    volumes:
      # Das lokale Verzeichnis wird dem Webserver als statisches Basisverzeichnis zur Verfügung gestellt
      - ./html:/app/html
    environment:
      - SSO_SERVER=${SSO_SERVER}
      - FILE_SERVER=${FILE_SERVER}
    restart: always